body {
font-family: "Poppins", sans-serif;
background-color: #f7f7f7;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container {
background: white;
padding: 2rem;
border-radius: 20px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
width: 380px;
}

.input-section {
display: flex;
align-items: flex-end;
gap: 1rem;
border-bottom: 1px solid #eee;
padding-bottom: 1rem;
}

.input-group {
display: flex;
flex-direction: column;
}

label {
font-size: 0.8rem;
color: #000000;
letter-spacing: 1px;
}

input {
padding: 8px;
width: 70px;
font-size: 1rem;
border: 1px solid #ddd;
border-radius: 5px;
text-align: center;
}

small {
color: #000000;
font-size: 0.7rem;
display: block;
margin-top: 3px;
}

button {
background: #9b5de5;
color: white;
border: none;
border-radius: 50%;
width: 45px;
height: 45px;
font-size: 1.5rem;
cursor: pointer;
}

.output {
margin-top: 1.5rem;
}

.output h1 {
font-size: 2rem;
font-weight: 700;
}

.output span {
color: #8a5df0;
}
