body {
background-color: #f3e6dc;
font-family: Arial, sans-serif;
color: #333;
margin: 0;
padding: 0;
}

.container {
display: flex;
justify-content: center;
padding: 40px 15px;
}

.card {
background-color: #ffffff;
width: 100%;
max-width: 640px;
border-radius: 12px;
box-shadow: 0 4px 12px rgba(251, 2, 2, 0.1);
padding: 30px;
}

.recipe-image {
width: 100%;
border-radius: 10px;
margin-bottom: 25px;
}

h1 {
font-size: 28px;
margin-bottom: 10px;
}

h2 {
font-size: 22px;
margin-top: 30px;
border-bottom: 1px solid #b9a9a9;
padding-bottom: 5px;
}

h3 {
margin-top: 0;
color: #7b2cbf;
}

.description {
color: #555;
}

.temo{
background-color: #f8eefb;
border-radius: 10px;
padding: 15px 20px;
margin: 25px 0;
}

ul, ol {
padding-left: 20px;
}

.ingredients li {
margin-bottom: 6px;
}

.instructions li {
margin-bottom: 10px;
}

table {
width: 100%;
margin-top: 10px;
}

th, td {
text-align: left;
padding: 10px ;
border-bottom: 1px solid #ddd;
}

