.header{
    color: blue;
    background-color: bisque;
    font-size: large;
    font-weight: 100px;
    text-align: left;}
    .main{
        color: green;
        background-color: blueviolet;
        font-size: large;
        font-weight: 800px;
        text-align: center;
    }
    .footer{
        color: rgb(2, 255, 23);
        background-color: rgb(226, 208, 43);
        font-size: larger;
        font-weight: 860px;
        text-align: center;
    }